<div class="container mb-5 mt-3">
  <div class="row">
    <div class="col-8">
      <h2>{{product.name}}</h2>
      {{product.description}}
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5>titulo</h5>

        <div class="col">
          <button>Añadir al carrito</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button>Comprar ya!</button>
        </div>
      </div>
    </div>
    <div>
    </div>

</div>
